/* You can add global styles to this file, and also import other style files */
@import "colors";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: $color-white;
  color: $color-dark-grey;
}

:root {
  --color-bug: #a7b723;
  --color-dark: #75574c;
  --color-dragon: #7037ff;
  --color-eletric: #e8b900;
  --color-fairy: #e69eac;
  --color-fighting: #c12239;
  --color-fire: #f57d31;
  --color-flying: #a891ec;
  --color-ghost: #70559b;
  --color-normal: #aaa67f;
  --color-grass: #74cb48;
  --color-ground: #dec16b;
  --color-ice: #9ad6df;
  --color-poison: #a43e9e;
  --color-psychic: #fb5584;
  --color-rock: #b69e31;
  --color-steel: #b7b9d0;
  --color-water: #6493eb;
}
